Repository SyafiqHadzir/syafiqhadzir.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, npx sort-package-json

fix(analytics): resolve AMP analytics errors and simplify GA4 config
  _includes/layouts/base.njk
Due: none

chore(release): 4.5.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  1541778b763313b1f18b5916478d850318bdad82
Due: none

feat: move research link and upgrade to tailwind v4
  TAILWIND_MIGRATION.md
  TAILWIND_V4_MIGRATION.md
  docs/TAILWIND_SASS_ARCHITECTURE.md
  eleventy.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/pages/index.njk
  src/pages/sitemap.njk
  src/scss/base/_typography.scss
  src/scss/components/_components.scss
  src/scss/main.scss
  src/scss/utilities/_utilities.scss
  stylelint.config.js
  tailwind.config.js
Due: eslint --fix, prettier --write, stylelint --fix, npx sort-package-json

chore(release): 4.6.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  fa7d471f6c494d485827d1a47cdd127f91978e19
Due: none

revert: downgrade to tailwind css v3.4.19 for amp compatibility
  eleventy.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/lib/lightningCss.ts
  src/scss/main.scss
Due: eslint --fix, prettier --write, stylelint --fix, npx sort-package-json

chore: remove unused @tailwindcss/typography package
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

feat: adapt portfolio to researcher template style
  _includes/partials/footer.njk
  cypress/e2e/performance.cy.ts
  src/pages/index.njk
  src/scss/_icons.scss
  src/scss/abstracts/_tokens.scss
  src/scss/components/_components.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore(release): 4.8.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  6e84d0c85c2e08ec2679f3d00806b8221df65126
Due: none

feat: implement wcag aaa color contrast standards
  src/scss/abstracts/_tokens.scss
Due: stylelint --fix

Notes added by 'git notes add'
  e3404eb57f55bf0a0d72337d9d445ac22b9b20aa
Due: none

chore(release): 4.9.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

chore: optimize build pipeline and resolve Node.js 25 compatibility issues
  README.md
  _includes/layouts/base.njk
  _includes/partials/footer.njk
  _includes/partials/nav.njk
  cypress/e2e/smoke.cy.ts
  docs/TAILWIND_SASS_ARCHITECTURE.md
  eleventy.config.js
  lint.json
  log_build.txt
  package-lock.json
  package.json
  scripts/link-checker.ts
  src/pages/contact.njk
  src/pages/index.njk
  src/pages/sitemap.njk
  src/scss/abstracts/_tokens.scss
  src/scss/base/_typography.scss
  src/scss/components/_components.scss
  src/theme-persist.js
  sw.js
  test/scripts/build-size-report.test.ts
  test/scripts/validate-amp.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix, npx sort-package-json

Path conditions:
  eslint --fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md,yml,yaml})
  stylelint --fix: any of: *.scss
  npx sort-package-json: any of: package.json
