Repository SyafiqHadzir/syafiqhadzir.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, npx sort-package-json

Notes added by 'git notes add'
  c186b2fce9cf94be1d1e72003d95e303a6186b50
Due: none

feat(dx): implement 100 expert-level improvements with 7-1 Sass architecture
  .devcontainer/devcontainer.json
  .editorconfig
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/sbom.yml
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  Makefile
  _headers
  commitlint.config.js
  cypress/e2e/performance.cy.ts
  cypress/e2e/security-headers.cy.ts
  cypress/e2e/seo.cy.ts
  docs/ADR/README.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
  docs/STYLE_GUIDE.md
  docs/TROUBLESHOOTING.md
  package.json
  perf-budgets.json
  postcss.config.js
  scripts/html-validate.ts
  scripts/link-checker.ts
  src/scss/abstracts/_functions.scss
  src/scss/abstracts/_index.scss
  src/scss/abstracts/_mixins.scss
  src/scss/abstracts/_tokens.scss
  src/scss/base/_index.scss
  src/scss/base/_print.scss
  src/scss/base/_reset.scss
  src/scss/base/_typography.scss
  src/scss/components/_components.scss
  src/scss/components/_index.scss
  src/scss/main.scss
  src/scss/utilities/_index.scss
  src/scss/utilities/_utilities.scss
Due: eslint --fix, prettier --write, stylelint --fix, npx sort-package-json

chore(release): 4.1.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  f1225a222248836fe15338b7519ebedc9d84aeaa
Due: none

feat(ci): optimize workflows and implement script testing coverage
  .github/actions/bootstrap-env/action.yml
  .github/workflows/ci.yml
  .github/workflows/lighthouse.yml
  .github/workflows/pr-validation.yml
  .github/workflows/sbom.yml
  scripts/html-validate.ts
  scripts/link-checker.ts
  test/scripts/html-validate.test.ts
  test/scripts/link-checker.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

chore(release): 4.2.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  6c2e6bbabd97bf7120702500d1df7c3d2d8539b1
Due: none

chore(release): implement pwa, visual testing, and expert ci guardrails
  .dependency-cruiser.cjs
  .gitignore
  .husky/commit-msg
  README.md
  _includes/layouts/base.njk
  commitlint.config.js
  cypress.config.ts
  cypress/e2e/visual.cy.ts
  cypress/snapshots/base/cypress/e2e/visual.cy.ts/404-desktop.png
  cypress/snapshots/base/cypress/e2e/visual.cy.ts/home-desktop.png
  cypress/snapshots/base/cypress/e2e/visual.cy.ts/home-mobile.png
  cypress/snapshots/base/cypress/e2e/visual.cy.ts/offline-desktop.png
  cypress/support/commands.ts
  docs/development/README.md
  docs/development/TESTING.md
  eleventy.config.js
  eslint.config.js
  knip.config.ts
  package-lock.json
  package.json
  scripts/housekeeping.ts
  scripts/html-validate.ts
  src/install-sw.html
  tsconfig.eslint.json
  workbox-config.cjs
Due: eslint --fix, prettier --write, npx sort-package-json

chore(ci): add security audit and documentation enhancements
  .github/adr/0003-visual-regression-testing.md
  .github/adr/README.md
  .github/workflows/ci.yml
  CONTRIBUTING.md
Due: prettier --write

chore(dx): add architecture docs, schema tests, and node lts compatibility
  ARCHITECTURE.md
  _headers
  cypress/e2e/schema.cy.ts
  package.json
Due: eslint --fix, prettier --write, npx sort-package-json

chore(infra): add hsts, docker npm scripts, pre-push hook, and 50x error page
  .husky/pre-push
  Dockerfile
  nginx.conf
  package.json
  src/pages/50x.njk
Due: prettier --write, npx sort-package-json

fix(deps): revert to node.js 24 (active lts)
  Dockerfile
  package.json
Due: prettier --write, npx sort-package-json

chore(release): 4.2.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  8073c9e59f3e58b20d4810b3d954d1bcab7f9c86
Due: none

chore(deps): update stylelint-order and add docker docs to readme
  README.md
  package-lock.json
Due: prettier --write

chore(release): 4.2.2 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  a558e30a59595467af1ff3770e7cfd8ee86658ba
Due: none

ci: fix regressions and unused dependencies identified during simulation
  _includes/layouts/base.njk
  cypress/e2e/performance.cy.ts
  cypress/e2e/smoke.cy.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, npx sort-package-json

ci: add missing perf:ci script and @lhci/cli dependency
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

deploy: 7dc7284554843cbdd87c14aa7b8181147edf31ae
  404.html
  ARCHITECTURE/index.html
  CHANGELOG/index.html
  CONTRIBUTING/index.html
  SECURITY/index.html
  _headers
  contact.html
  docs/README/index.html
  docs/development/README/index.html
  docs/development/SONARCLOUD/index.html
  docs/development/TESTING/index.html
  docs/quick-reference/README/index.html
  docs/quick-reference/SONARCLOUD/index.html
  favicons/favicon.svg
  favicons/site.webmanifest
  index.html
  install-sw.html
  offline.html
  scripts/README/index.html
  sitemap.html
  sitemap.xml
  size-report.json
  src/pages/50x/index.html
  sw.html
  sw.js
Due: eslint --fix, prettier --write

feat(perf): implement automated image optimization pipeline
  _includes/layouts/base.njk
  eleventy.config.js
  lighthouserc.cjs
  package-lock.json
  package.json
  src/lib/imageOptimizer.ts
  src/pages/index.njk
  src/scss/abstracts/_functions.scss
  src/shortcodes/ampImg.ts
  src/types/eleventyImg.d.ts
  test/shortcodes/ampImg.test.ts
Due: eslint --fix, prettier --write, stylelint --fix, npx sort-package-json

fix(test): rewrite amp-img unit test with dynamic imports for reliable mocking
  test/shortcodes/ampImg.test.ts
Due: eslint --fix, prettier --write

fix(test): resolve lint violation in unit test
  test/shortcodes/ampImg.test.ts
Due: eslint --fix, prettier --write

chore(release): 4.3.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  07dd3c86ea43c87fed6d1657c630ce8028fb11ae
Due: none

chore(housekeeping): declare filters and shortcodes as entry points in depcruise
  .dependency-cruiser.cjs
Due: none

chore(housekeeping): remove redundant @commitlint/cli ignore from knip
  knip.config.ts
Due: eslint --fix, prettier --write

fix(cypress): resolve failing e2e tests with data-cy and font-display
  cypress/e2e/rtl-layout-shift.cy.ts
  src/pages/index.njk
  src/shortcodes/ampImg.ts
Due: eslint --fix, prettier --write

chore(release): 4.3.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  292dea3a0dee59cce154075b79d6e9de921f6f34
Due: none

fix(security): resolve console errors and update dependencies
  _headers
  favicons/site.webmanifest
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

chore(release): 4.3.2 [skip ci]
  CHANGELOG.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md,yml,yaml})
  stylelint --fix: any of: *.scss
  npx sort-package-json: any of: package.json
