Repository SyafiqHadzir/syafiqhadzir.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, npx sort-package-json

.lintstagedrc.json:

{
    "*.{ts,js}": ["eslint --fix", "prettier --write"],
    "*.scss": ["stylelint --fix"],
    "*.{json,md,yml,yaml}": ["prettier --write"],
    "package.json": ["npx sort-package-json"]
}

chore(ci): refactor to modular architecture and optimize performance
  .github/actions/bootstrap-env/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  .github/workflows/lighthouse.yml
  .github/workflows/nightly-quality.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .lighthouserc.json
  package-lock.json
  package.json
  perf-budget.json
  src/lib/lightningCss.ts
  src/lib/svgoOptimize.ts
  test/filters/readingTime.test.ts
  test/transforms/htmlMinify.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write, npx sort-package-json

docs: update readme and loosen typescript signatures
  README.md
  src/filters/readingTime.ts
  src/transforms/htmlMinify.ts
Due: eslint --fix, prettier --write

chore: update documentation and fix build stability
  package.json
Due: prettier --write, npx sort-package-json

ci(pr-validation): add vercel notification step
  .github/workflows/pr-validation.yml
Due: prettier --write

fix(a11y): enhance color contrast for navigation links
  src/scss/_variables.scss
Due: stylelint --fix

fix(security): resolve dependabot tmp vulnerability
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

fix(ci): enable local composite action resolution
  .github/actions/bootstrap-env/action.yml
  .github/workflows/deploy.yml
  .github/workflows/nightly-quality.yml
  .github/workflows/pr-validation.yml
Due: prettier --write

fix(a11y): add link distinctions and resolve jsdoc lint warnings
  src/scss/_components.scss
  src/transforms/cssGuard.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs(governance): standardize repository documentation and templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
  humans.txt
  robots.txt
Due: prettier --write

build(deps): resolve outdated transitive dependencies
  package-lock.json
  package.json
Due: prettier --write, npx sort-package-json

chore: fix ESLint parsing errors and configuration
  _redirects
  eleventy.config.js
  eslint.config.js
  tsconfig.eslint.json
Due: eslint --fix, prettier --write

ci: add semantic-release workflow
  .github/workflows/release.yml
Due: prettier --write

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  d247a877029e8a5a15da53e955ff0c2e5a96ad2a
Due: none

Notes added by 'git notes add'
  e716506826723e2f5ce4d0529abed1ca9e6e4609
Due: none

chore(release): 2.1.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

fix(ci): ensure cypress binary is cached and installed in github actions
  .github/actions/bootstrap-env/action.yml
Due: prettier --write

chore(release): 2.1.2 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  cd85e5c3c91b9a8b0aabb35e4d0c7536d0c92b41
Due: none

chore(infra): migrate deployment to Cloudflare Pages
  .github/workflows/deploy.yml
  _redirects
  package-lock.json
  package.json
  wrangler.toml
Due: prettier --write, npx sort-package-json

fix: resolve CI workflow failures and wrangler configuration errors
  .github/workflows/nightly-quality.yml
  wrangler.toml
Due: prettier --write

Notes added by 'git notes add'
  9325f170bd4b24df85c23fd07979a219726a3916
Due: none

chore(release): 2.1.3 [skip ci]
  CHANGELOG.md
Due: prettier --write

ci: implement automated report generation for SonarQube
  package.json
Due: prettier --write, npx sort-package-json

refactor(scripts): implement strictest lint with expert-level best practices
  eslint.config.js
  package.json
  scripts/build-size-report.ts
  scripts/housekeeping.ts
  scripts/validate-amp.ts
  scripts/validate-schema.ts
  sonar-project.properties
  test/filters/dateFormat.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write, npx sort-package-json

fix(perf): consolidate lhci config and relaxed local assertions
  .lighthouserc.json
  lighthouserc.cjs
Due: prettier --write

docs(readme): update sonarcloud badge project key
  README.md
Due: prettier --write

Notes added by 'git notes add'
  5fe0641270d39a71bea83d372314cc3e1d18dc9b
Due: none

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

fix(ci): enable full git history for accurate sonar analysis
  .github/workflows/nightly-quality.yml
Due: prettier --write

chore(release): 3.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  1071f054a6e9eadd1f055e2a0f05f5531aae68b0
Due: none

test(scripts): add unit tests for CLI scripts to fix SonarCloud coverage
  scripts/build-size-report.ts
  scripts/housekeeping.ts
  scripts/validate-amp.ts
  test/scripts/build-size-report.test.ts
  test/scripts/housekeeping.test.ts
  test/scripts/validate-amp.test.ts
  test/scripts/validate-schema.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

test(coverage): enhance test suite to 95% coverage and fix ReDoS vulnerability
  README.md
  test/filters/dateFormat.test.ts
  test/scripts/build-size-report.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  6c10ef20ccce684dfbfb3670c85244be7e93ec6b
Due: none

chore(release): 4.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

docs: restructure documentation architecture and add testing guide
  .github/workflows/nightly-quality.yml
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/development/README.md
  docs/development/SONARCLOUD.md
  docs/development/TESTING.md
  docs/quick-reference/README.md
  docs/quick-reference/SONARCLOUD.md
  scripts/README.md
  scripts/generate-sonar-summary.sh
  scripts/parse-sonar-log.sh
  sonar-project.properties
Due: prettier --write

fix(ci): resolve coverage generation and log handling failures in nightly-quality workflow
  .github/workflows/nightly-quality.yml
Due: prettier --write

chore(release): 4.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --write
