Repository SyafiqHadzir/syafiqhadzir.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, npx sort-package-json

Notes added by 'git notes add'
  9377bc5ccb228b5db28967fb1c027ce5d8aa2867
Due: none

perf(ci): relax lighthouse thresholds for ci environment stability
  lighthouserc.cjs
Due: none

chore(release): 4.3.3 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  ddb8736204ebeb58b5d134b3ec56178aad1183ce
Due: none

fix(seo): correct image path case sensitivity in meta tags
  _includes/layouts/base.njk
  src/pages/index.njk
Due: none

Notes added by 'git notes add'
  72b708cec3e0fbc16262b1d0f873604c9f6b0708
Due: none

chore(release): 4.3.4 [skip ci]
  CHANGELOG.md
Due: prettier --write

fix(pwa): correct image path in service worker precache list
  sw.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  bb9216888b9d2b561ca3e7a3bddb0aa66e169022
Due: none

chore(release): 4.3.5 [skip ci]
  CHANGELOG.md
Due: prettier --write

fix(perf): eliminate production console errors and optimize resource loading
  Dockerfile
  _includes/layouts/base.njk
  test/scripts/housekeeping.test.ts
Due: eslint --fix, prettier --write

chore(release): 4.3.6 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  02f9b62bf339bc7b6e713192e0706b83daabaa62
Due: none

fix: resolve eslint security warning and production console errors
  _includes/layouts/base.njk
  eleventy.config.js
  src/filters/dateFormat.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  74ece7057d3df39ff7818c91a48369bcc7415170
Due: none

chore(release): 4.3.7 [skip ci]
  CHANGELOG.md
Due: prettier --write

fix(amp): resolve connect-src violations and harden console audit
  _includes/layouts/base.njk
Due: none

chore(release): 4.3.8 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  8ff1a77382b0cc5db5ed2729133cd83019ad03f8
Due: none

fix(security): whitelist ga4 regional endpoints and doubleclick in connect-src
  _headers
Due: none

chore(release): 4.3.9 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  8692bbb9b6767dc294c19341749f9f9fc060507f
Due: none

chore: standardize all image asset references to lowercase
  knip.config.ts
  test/scripts/housekeeping.test.ts
Due: eslint --fix, prettier --write

chore: complete standardization of all image asset references
  cypress/e2e/performance.cy.ts
  src/config/projectPaths.ts
Due: eslint --fix, prettier --write

feat: implement production-grade security headers
  _headers
Due: none

chore(release): 4.4.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  5c19e21a6493a6683057c4ef8928be7e945a36b3
Due: none

fix(sw): remove missing headshot.webp from precache and bump version to 2.3.0
  sw.js
Due: eslint --fix, prettier --write

chore(release): 4.4.1 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  7b3eec94e2c8378bd82d6080805e0fb07bd06a18
Due: none

fix(site): resolve headshot.webp 404 and amp-analytics transport warnings
  _includes/layouts/base.njk
  src/pages/index.njk
Due: none

chore(release): 4.4.2 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  2d184e2c821ab5ec5681dfad7e9ae6ba84b004dd
Due: none

deploy: 2d184e2c821ab5ec5681dfad7e9ae6ba84b004dd
  404.html
  ARCHITECTURE/index.html
  _headers
  contact.html
  favicons/site.webmanifest
  index.html
  offline.html
  sitemap.html
  sitemap.xml
  sw.js
Due: eslint --fix, prettier --write

refactor: centralize constants, update dependencies and remove docs
  _includes/layouts/base.njk
  docs/ADR/README.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
  docs/README.md
  docs/STYLE_GUIDE.md
  docs/TROUBLESHOOTING.md
  docs/development/README.md
  docs/development/SONARCLOUD.md
  docs/development/TESTING.md
  docs/quick-reference/README.md
  docs/quick-reference/SONARCLOUD.md
  package-lock.json
  package.json
  src/config/constants.ts
  src/lib/imageOptimizer.ts
  src/lib/lightningCss.ts
  src/transforms/cssGuard.ts
Due: eslint --fix, prettier --write, npx sort-package-json

docs: restore and update comprehensive documentation
  ARCHITECTURE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
  docs/API.md
  docs/DEPLOYMENT.md
  docs/README.md
  docs/STYLE_GUIDE.md
  docs/development/README.md
  docs/development/SONARCLOUD.md
  docs/development/TESTING.md
  docs/quick-reference/README.md
  docs/quick-reference/TROUBLESHOOTING.md
Due: prettier --write

refactor: optimize service worker and image paths
  _includes/layouts/base.njk
  images/headshot.webp
  images/screenshot-desktop.png
  images/screenshot-mobile.png
  src/install-sw.njk
  sw.js
Due: eslint --fix, prettier --write

feat(amp): resolve analytics errors and implement expert-level ga4 configuration
  _includes/layouts/base.njk
Due: none

chore(release): 4.5.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  44c78bedcb608a4c64dcd6e8d113313d4ff7e066
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md,yml,yaml})
  stylelint --fix: any of: *.scss
  npx sort-package-json: any of: package.json
